html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
	font-family: 'Archivo Narrow', sans-serif;
}
#canvas{
	position: fixed;
}
.container{
    	text-align: left;
}		

body {
    /*overflow: hidden;*/
    background-color: #fff;
}

a:link {
	color: #A34B9C;
    text-decoration: none;
}

a:visited {
	color: #A34B9C;
    text-decoration: none;
}

a:hover {
	color: #A34B9C;
    text-decoration: none;
}

a:active {
	color: #A34B9C;
    text-decoration: none;
}

#secondIntro a:link {
	color: #5A86B3;
    text-decoration: none;
}

#secondIntro a:visited {
	color: #5A86B3;
    text-decoration: none;
}

#secondIntro a:hover {
	color: #5A86B3;
    text-decoration: none;
}

#secondIntro a:active {
	color: #5A86B3;
    text-decoration: none;
}
.container{
	padding: 0% 3%;
}
.topic{
	font-family: 'Archivo Black', sans-serif;
	font-size: 8vw;
}
#mainTopic{
	/*border: 1px solid;*/
	width: 	35vw;
	height: 35vh;
	position: fixed;
  	top: 33%;
  	left: 33%;
  	line-height: 80%;
  	color: #A34B9C;
}
#subMainTopic{
	color: #5A86B3;
	font-size: 4.1vw;
}
#firstIntro{
	position: absolute;
	width: 16vw;
	float: left;
	top: 10vh;
	font-size: 15px;
	color: #A34B9C;
}
#secondIntro{
	position: absolute;
	width: 16vw;
	float: left;
	bottom: 4vh;
	font-size: 15px;
	color: #5A86B3;
}
#thirdIntro{
	position: absolute;
	width: 16vw;
	top: 3.8vh;
	right: 4vw;
	color: #A34B9C;
	text-align: right;
}
#thirdIntro .firstSpan{
	font-family: 'Archivo Black', sans-serif;
	font-size: 47px;
	line-height: 80%;
}
#thirdIntro .secondSpan{
	font-family: 'Archivo Black', sans-serif;
	font-size: 27px;
	line-height: 150%;
}
#thirdIntro .thirdSpan{
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 27px;
}
#fourthIntro {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 15px;
	position: absolute;
	width: 13vw;
	bottom: 3.8vh;
	right: 4vw;
	text-align: right;
	color: #5A86B3;
}
#logo{
	position: absolute;
	top: 3vh;
}

@media screen and (max-width: 700px) {
    body {
    	width: 97%;
        padding: 0vw;
    }
    .container{
    	width: 97%;
    	text-align: center;
    }
    #firstIntro,#secondIntro,#thirdIntro,#fourthIntro{
    	position: relative;
    	width: 95%;
    	text-align: center;
    }
    
	#thirdIntro{
		position: relative;
		padding-top: 5vh;
		left: 1%;
		width: 96%;
	}
	#firstIntro{
		margin: auto;
		padding:20% 10%;
		width: 76%;
		position: relative;
		left: 1%;
		margin-top: 50%;
	}
	#secondIntro{
		margin: auto;
		padding:0% 10%;
		width: 76%;
		position: relative;
		top: 15vh;
	}
	#fourthIntro{
		margin: auto;
		padding:10% 10%;
		width: 76%;
		position: relative;
		top: 30vh;
	}
	.topic{
		width: 99%;
		height: 50%;
    	position: absolute;
	    font-size: 16vw;
	   	top: 44%;
	}
	#mainTopic{
		position: relative;
		top:0;
		left: 6vw;
		padding: 8%;
		font-size: 18vw;
	}
	#subMainTopic{
		font-size: 9vw;
	}

	#logo{
		position: relative;
	}
	#logo img{
		 margin:0 auto; 
	}

}